.footer {
    position:relative;
    left:  0;
    bottom: 0;
    width:  100%;
    background-color:  rgb(146, 241, 222);
    color: black;
    text-align:  left;
}
.column {
    float: left;
    width: 100%;
}
.row {
    display: table;
    margin: auto;
    padding: 15px;
}