<!--<app-camping-invoer (campingCreate)="onCampingCreated($event)"></app-camping-invoer>
<app-camping [campingList]="campings"></app-camping>
<br><br>
<app-camping-registratie (campingRegistratieCreate)="onCampingRegistratieCreated($event)"></app-camping-registratie>
<app-camping [CampingRegistratieList]="registratie"></app-camping>
<app-child (uitvoerCreate)="onChildInvoerCreated($event)"></app-child>
<app-parent [invoerWaarde]="invoer"></app-parent>
<a routerLink="/">Parent</a> | <a routerLink="/child">Child</a>
<body>
    

<router-outlet></router-outlet>
</body>-->

<div class="page_framework">
<div class="navigation">
     <style>
        a:link {
            text-decoration:  none;
            color: #333;
        }
        a:visited{
            text-decoration:  none;
            color: #333;
        }
     </style>
     
<ul>
    <li><a routerLink="/">Parent</a></li>
    <li><a routerLink="/Geselecteerde camping">Geselecteerde camping</a></li>
    <router-outlet></router-outlet>
</ul>

</div>

