<p>Kanofeestje Je zoon of dochter is jarig en gaat met zijn of haar vriendjes
     en vriendinnetjes kanoën op de campind Maka.
     U huurt voor 3 uur kajaks/kano1's en u vaart zelf
     met de kinderen een route door het Abtswoudse Bos. Onderweg legt u ergens aan om met uw eigen 
    eten/drinken te picknicken en eventueel nog te spelen. De kosten zijn € 13,-perpersoon.</p>

<div class="item1">
    <img src="https://cdn.pixabay.com/photo/2016/11/29/03/30/woman-1867074_960_720.jpg"  style="width:400px">
  </div>
<p>Op de Camping Maka kunt u een 1- of 2-persoons kajak o
f een 2- of 3-persoons Canadese kano huren en twee prachtige routes varen
door de Lage Abtswoudse polder. U waant zich midden 
in de natuur en komt vele watervogels tegen. Er is een korte route
van 45 minuten en een langere route van 2,5 uur. Onderweg zijn er mogelijkheden genoeg om uit te stappen en
te picknicken of even uit te rusten in het gras. Groepen tot 30 personen kunnen tegelijkertijd kanoën. Voor
kinderen hebben we een aantal zwemvestjes beschikbaar. 
Het is heerlijk om met het gezin, met vrienden of collega's op een mooie dag een paar uurtjes te gaan varen.</p>
<div class="item2">
    <img src="https://cdn.pixabay.com/photo/2019/07/26/09/23/lake-4364335_1280.jpg" style="width:400px">
</div>
<h2>Openingstijden en prijzen</h2>
<p>Het kano-seizoen loopt van vrijdag 26 april tot zondag 1 September 2024.
U kunt de verschillende bootjes (1-persoons kajak, 2-persoons kajak, 2- of 3-persoons Canadese kano) 
voor 3 uur huren. U kunt zelf kiezen of u in deze 3 uur een grotere of kleinere ronde gaat 
varen en of u onder weg uitstapt voor bv een picknick in het Abtswoudse Bos. Er zijn vaste starttijden: 11 uur, 14 uur en 17 uur.
De prijs is voor alle bootjes per persoon:
3 uur € 13,00 per persoon
Graag bij aankomst betalen (contant of met pin)
Voor reserveren kunt u het onderstaand reserveringsformulier gebruiken.</p>
<div class="item3">
    <img src="https://cdn.pixabay.com/photo/2015/09/26/13/44/boat-959079_1280.jpg" style="width:400px">
</div>