<!--<p>child works!</p>
<p>
   <label for="ChildInvoer">Invoer</label>
   <input type="text" id="ChildInvoer" [(ngModel)]="ChildInvoerModel">
   <button (click)="onChildInvoer()">versturen</button>
</p>-->
 <div>                                 
   <img src="https://cdn.pixabay.com/photo/2014/11/27/18/36/tent-548022_1280.jpg">
</div> 

<div>
   <table style="width: 200;">
   <tr>
      <th>Camping</th>
      <th>Adres</th>
      <th>Website</th>
   </tr>
   <tr>
      <td>De Karnemelkplaats</td>
      <td>Voorweg 1<br>1759 NX Callantsoog<br>Nederland</td>
      <td><a href="https://www.Karnemelkplaats.nl">Link</a></td>
   </tr>
   <tr>
      <td>Tro Do We</td>
      <td>Rue Tro Do We 2<br>6687 Bertogne<br>Belgie</td>
      <td><a href="https://www.trodoway.be">Link</a></td>
   </tr>
</table>
</div>